git+git://github.com/ICRAR/daliuge/#egg=daliuge-common&subdirectory=daliuge-common
git+git://github.com/ICRAR/daliuge/#egg=daliuge-translator&subdirectory=daliuge-translator
git+git://github.com/ICRAR/daliuge/#egg=daliuge-engine&subdirectory=daliuge-engine